node_modules
.DS_Store
dist
dist-ssr
*.local
.env
local.db
local.db-*
e2e.db
e2e.db-*
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
.pnpm-store
/docs
README.md
AGENTS.md
.cursor
!/README.md